*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #F6F5F2;
    @media (max-width: 576px) {
        font-size: 15px;
    }
}
body{
    @media (max-width: 1024px) {
        padding: 20px;
    }
}

.imgs{
    width: 100%; 
    max-width: 100%;
   
    .imgs_wrapper{
        width: 100%;
        margin: auto;
        .custom_img_upload{
            padding: 20px 0;
            width: 100%;
            max-width: 1200px;
            text-align: center;
            margin: auto;
            @media (max-width: 1280px) {
                text-align: center;
            }
            h1{
                display: flex;
                justify-content: center;
                word-wrap: break-word;
                a{
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    color: #222831;
                    font-weight: bold;
                    width:fit-content;
                    word-wrap: break-word;
                }   
            }
            p{
                color: #31363F;
            }
        }
        .img_list{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,500px);
            justify-content: space-evenly;
            row-gap: 50px;
            @media (max-width: 1280px) {
                grid-template-columns: repeat(1,500px);
                justify-content: space-evenly;
                align-items: center;
                justify-content: center;
            }
            .img_content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
                width: 100%;
                max-width: 500px;
                text-align: center;
                img{
                    object-fit: contain;
                    width: 100%;
                    max-width: 500px;
                    @media (max-width: 576px) {
                        max-width: 300px;
                    }
                }
                a{
                    text-decoration: none;
                    color: #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    width: 500px;
                    max-width: 500px;
                    padding: 7.5px;
                    border-radius: 4px;
                    background-color: #DDDDDD;
                    @media (max-width: 576px) {
                        width: 300px;
                        max-width: 300px
                    }
                }
            }
            .img_content:last-child{
                @media (max-width: 576px) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.img_customization{
    padding: 25px;
    .img_customization_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            a{
                display: inline-block;
                text-decoration: none;
                color: #222831;
            }
        }
        .img_area{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;
            .img_convert_options{
                width: 500px;
                max-width: 500px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                .upload_file{
                    label {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-top: 15px;
                        padding: 5px 15px;
                        font-weight: 700;
                        color: #000;
                        width: max-content;
                        cursor: pointer;
                        .inputfile {
                            width: 0.1px;
                            height: 0.1px;
                            opacity: 0;
                            overflow: hidden;
                            position: absolute;
                            z-index: -1;
                        }
                        svg{
                            color: #A87676;
                        }
                    }
                    .upload{
                        background-color: #A1DD70;
                    }
                    .noupload{
                        background-color: #F0EBE3;
                    }
                    .inputfile:focus + label,
                    .inputfile + label:hover {
                        background-color: #A79277;
                    }.inputfile + label {
                        cursor: pointer; /* "hand" cursor */
                    }
                }
                .resulation,.file_type,.aspect_ratio,.compression{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    p,span{
                        padding: 5px;
                        border-radius: 6px;
                        display: inline-block;
                    }
                    input,span{
                        cursor: pointer;
                    }
                    p{
                        background-color: #F0EBE3;
                        font-weight: 600;

                    }
                    span{
                        background-color: #FFEFEF;
                    }
                    .custom_width,.custom_ratio{
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        input{
                            width: 50%;
                            padding: 8px;
                            outline: 0;
                        }
                        input[type="number"]:focus,input[type="number"]:focus-visible{
                            border-color: #F3D0D7;
                            border: 2px solid #F3D0D7;
                            box-shadow: #F3D0D7 0px 7px 29px 0px;

                        }
                    }
                    .custom_compression{
                        input[type="range"]{
                            accent-color: #776B5D;
                        }
                    }   
                    .select-b{
                        border: 2px solid rgb(100, 100, 111) !important;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    }
                }
               
                button{
                    padding: 8px 0;
                    outline: 0;
                    font-weight: 700;
                    border-radius: 50px;
                    background-color: #C7B7A3;
                    border: 1px solid #FFEFEF;
                    cursor: pointer;

                }
            }
            .imgs{
                flex: 1;
                text-align: center;
                .imgs_area{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    justify-content: space-evenly;
                    .img_content{
                        h2{
                            line-height: 3rem;
                        }
                        .content_info{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .info{
                                display: flex;
                                flex-direction: column;
                                gap: 7.5px;
                                p{
                                    background-color: #FFEFEF;
                                    color: #000;
                                    font-weight: 600;
                                    padding: 5px;
                                }
                                button{
                                    background-color: #DDDDDD;
                                    padding: 7.5px;
                                    text-align: center;
                                    font-weight: bolder;
                                    border: 1px solid #DDDDDD;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: 5px;
                                    cursor: pointer;
                                }
                            }
                        }
                        img{
                            width: 500px;
                            max-width: 500px;
                            max-height: 500px;
                            height: 500px;
                            @media (max-width: 576px) {
                                width: 100%;
                                max-width: 500px;
                                max-height: 500px;
                                height: 100%;
                            }
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}

